#hideMe {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

#hidePls {
    opacity:1;
    transition:opacity 500ms;
}
div#waa {
    opacity:0;
}

.unfocus {
    opacity: 90%;
}

@keyframes flip {
    0% {
        transform: scaleY(1);
        color: transparent ;
        background: transparent ;
        border-color: #3a3a3c ;

      }
    
    50% {
        transform: scaleY(0);
        color: transparent ;
        background: transparent ;
        border-color: #3a3a3c ;
    }

    100% {
        transform: scaleY(1);
        background: white !important;
        
    }
}

.flip {
    animation: flip 700ms ease forwards;
    
  }

@keyframes wiggle {
    0% { transform: translateX(0); }
    10% { transform: translateX(-10px); }
    20% { transform: translateX(10px); }
    30% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    50% { transform: translateX(0); }
    100% { transform: translateX(0); }
}

@keyframes deleteNothingWiggle {
    0% { transform: translateX(0); }
    50% { transform: translateX(-10px); }  /* Move left */
       /* Almost back to center */
    100% { transform: translateX(0); }      /* Return to original position */
}

@keyframes addNothingWiggle {
    0% { transform: translateX(0); }
    50% { transform: translateX(10px); }  /* Move left */
       /* Almost back to center */
    100% { transform: translateX(0); }      /* Return to original position */
}

.wiggle {
    animation: wiggle 700ms ease-in-out;
}

.deleteNothingWiggle {
    animation: deleteNothingWiggle 100ms ease-in-out;
}

.addNothingWiggle {
    animation: addNothingWiggle 100ms ease-in-out;
}


@keyframes pop {
    0% { transform: scale(1.2); }
    10% { transform: scale(1.175); }
    20% { transform: scale(1.150); }
    30% { transform: scale(1.125); }
    40% { transform: scale(1.1); }
    50% { transform: scale(1.075); }
    60% { transform: scale(1.05); }
    70% { transform: scale(1.025); }
    80% { transform: scale(1.012); }
    90% { transform: scale(1.006); }
    100% { transform: scale(1.0); }
}

.pop {
    animation: pop 50ms ease-in-out;
}
