@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.buttons {
    background-color: #d3d6da !important;
    border-color: #d3d6da !important;
    text-transform: capitalize;
    width: 43px !important;
    height: 59px !important;
    transition: background-color 300ms ease, border-color 300ms ease;

}

.DMbuttons {
    background-color: #818384 !important;
    border-color: #818384 !important;
    text-transform: capitalize;
    width: 43px !important;
    height: 59px !important;
    transition: background-color 300ms ease, border-color 300ms ease;

}


.board {
    background-color: transparent !important;
}


.hg-button {
    box-shadow: none !important;
}

.hg-rows {
    display: flex;
    flex-direction: column;
    align-items: center;  
    font-size: 12px;

}
.hg-rows > div:nth-child(2){
    width: 90%;
}

.hg-rows > div:nth-child(3){
    width: 100%;
}

.hg-rows > div:nth-child(3) > div:not([data-skbtn="ENTER"], [data-skbtn="DEL"]){
    width: 40px !important;
    /* color: blue; */
}

[data-skbtn="ENTER"], [data-skbtn="DEL"] {
    /* color: red; */
    background-color: '#ff0000' ;
    width: 64px !important; 
}

.green {
    color: white;
    background-color: #6aaa64 ;
    border-color: #6aaa64 ;
}
    /* Why does KBgreen exist if we have green? because green without !important is necessary for flip animation, and KBgreen with !important makes it assume the color rather than pure white from hg-button so that we can see the color */
    .KBgreen { 
        color: white !important;
        background-color: #6aaa64 !important;
        border-color: #6aaa64 !important;
    }
        
        .CBgreen {
            color: white;
            background-color: #f5793a;
            border-color: #f5793a ;
        }
            .KBCBgreen {
                color: white !important;
                background-color: #f5793a !important;
                border-color: #f5793a !important;
            }

.yellow {
    color: white;
    background-color: #c9b458 ;
    border-color: #c9b458 ;
}

    .KByellow {
        color: white !important;
        background-color: #c9b458 !important;
        border-color: #c9b458 !important;
    }

        .CByellow {
                color: white;
                background-color: #85c0f9 ;
                border-color: #85c0f9 ;
        }

            .KBCByellow {
                color: white !important;
                background-color: #85c0f9 !important;
                border-color: #85c0f9 !important;
            }

.gray {
    color: white;
    background-color: #787c7e ;
    border-color: #787c7e ;
}

    .KBgray {
        color: white !important;
        background-color: #787c7e !important;
        border-color: #787c7e !important;
    }

        .DMgray {
            color: white;
            background-color: #3a3a3c ;
            border-color: #3a3a3c ;
        }

            .KBDMgray {
                color: white !important;
                background-color: #3a3a3c !important;
                border-color: #3a3a3c !important;
            }

.white {
    background-color: #fff;
}